.html-container h1 {
    font-weight: 700;
    margin: 20px 0;
}
.html-container h2, p, ul, ol {
    margin: 20px 0 !important;
}
.html-container ul, ol {
    list-style: none;
}

.html-container strong{
    font-weight: 500;
}

.technologies > img {
    height: 30px;
    width: auto;
    margin: 2px;
}

.button-container-modal {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px 0;
}
.text-only-modal {
    background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
    color: white;
    border: 1px solid linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%) !important;
    transition: 0.3s ease-in-out;
    font-size: 20px !important;
}
.icon-and-text-modal {
    font-size: 20px !important;
    border-radius: 0;
    background-color: transparent !important;
    border: 1px solid white !important;
    color: white !important;
    transition: 0.3s ease-in-out;
}
.icon-and-text-modal:hover {
    border: 1px solid white !important;
    color: white !important;
    background-color: #151515 !important;
}
.icon-and-text-modal:active {
    border: 1px solid white !important;
    background-color: black !important;
}